<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="GoogleChrome" />
  <package id="Vivaldi" />
  <package id="git" />
  <package id="git-fork" />
  <package id="Cmder" />
  <package id="VisualStudioCode" />
  <package id="Ctrl2cap" />
  <package id="gcloudsdk" />
</packages>