[user]
	name = mpppk
	email = niboshiporipori@gmail.com
[core]
    editor = vim
    excludesfile = $HOME/.gitignore_global
[ghq]
    root = ~/ghq
    root = ~/go/src
[alias]
    s = status --short
    b = branch -a
    f = fetch --prune
